.generic-table {
    border-collapse:separate; 
    border-spacing:0 15px; 
}

.generic-preview {
    width: 30%;
}

.generic-info {
    padding-left: 2%;
    width: 70%;
}

.generic-title {
    font-weight: bold;
}

.generic-authors a {
    border-bottom: none;
}

.generic-links a {
    color: #555555;
}

.generic-preview {
    text-align: center;
}

.generic-mobile-preview {
    text-align: center;
}

.header {
    color: #555555;
    top: 0;
    width: 100%;
    text-align: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    padding: 0% 10%;
    line-height: 1.5;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: black
}

.desktop-only {display: inherit;}
.mobile-only {display: none;}

@media screen and (max-width: 768px) {
    .desktop-only {display: none;}
    .mobile-only {display: inherit;}
}